{% extends "auctions/layout.html" %}

{% block body %}

<div class="text-center h2">HALL OF FAME!!</div>
{% for listing in closed_listings %}

<div class="row flex-wrap d-flex">

    <div class="col-sm-3 mb-3">
        <div class="card h-100 d-flex flex-column">
            {% if listing.listing.img_url %}
            <img src="{{ listing.listing.img_url }}" class="listing.listingImg card-img-top mx-auto flex-grow-1"
                style="width:auto; height:130px;">
            {% endif %}
            <div class="card-body">
                <h3 class="card-title">{{ listing.listing.title }}</h3>
                <p class="card-text ">{{ listing.listing.description }}</p>
                <p class="card-text"><strong>Owner:</strong> {{ listing.listing.owner }}</p>
                <h5 class="card-title"><strong>Category: </strong>{{ listing.listing.category }}</h5>
                <div class="alert alert-success text-center mt-3 mx-auto">Won at ${{listing.current_bid}}</div>
                <a href="{% url 'auctions:listingPage' listing.listing.id %}" class="btn btn-primary mt-auto">Go to
                    Listing</a>
            </div>
        </div>
    </div>
    {% empty %}
    <h3 class="mx-auto text-center">You haven't yet won any bid, Try bidding some more money $$</h3>
    {% endfor %}
</div>

{% endblock %}